.AddOptionDiv {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);

  justify-items: center;
}
.AddOptionForm {
  display: grid;
  justify-items: center;
}

input[type="text"] {
  background-color: white;
  color: black;
  width: 30rem;
}

.AddOptionButton {
  background: #464b6a;
  border: none;
  width: 30.2rem;
}