.ModalBody {
  position: absolute;
  height: 20rem;
  width: 20rem;
  background: #292931;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
}

.ModalOverlay {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
}

.ModalButton {
  background: #464b6a;
  color: white;
  border: none;
  position: absolute;
  top: 30rem;
}