.TodoButtonOne {
  background: #464b6a;
  color: white;
  border: none;
  width: 25rem;
}

.TodoButtonTwo {
  background: #464b6a;
  color: white;
  border: none;
  margin: 1rem;
  width: 25rem;
}

.BindingDiv {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
}