.TodoButtonOne {
  background: #464b6a;
  color: white;
  border: none;
  margin: 2rem;
  margin-left: 49rem;
  width: 15rem;
}

.TodoButtonTwo {
  background: #464b6a;
  color: white;
  border: none;
  margin-right: 25rem;
  width: 15rem;
  margin: -2rem;
}

.ButtonDivContainer {
  display: inline;
}