.RemoveOption {
  border: none;
  background: #464b6a;
  color: #ebe7e7;
}

.RemoveOptionDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: .3rem;
  justify-items: center;
}

.BindingDivOne {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
  margin-left: 10rem;
}