.RemoveOption {
  border: none;
  background: #464b6a;
  color: #ebe7e7;
}

.RemoveOptionDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  margin-left: 40rem;
  padding: .3rem;
  justify-items: center;
}
