.About {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
}

.AboutOne {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
  width: 70%;
  background: $lightblue;
  color: $lightwhite;
  box-shadow: 9px 9px $soulblack;
}

.AboutTwo {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
  width: 70%;
  background: $lightblue;
}