.Home {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
  background: $lightblue;
  color: $lightwhite;
}

.HomeParent {
  width: fit-content;
  box-shadow: 9px 9px $soulblack;
  margin: 8rem;
}