.NestedWeights {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  margin-top: 25rem;
  width: 30rem;
  margin-left: 50rem;
  background: $darkblue;
  color: $offwhite;
}

// .WeightsNested {
//   background: white;
//   width: 30rem;
// }