.NestedWeights {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
  width: 50rem;
  margin-top: 25rem;
  background: $darkblue;
  color: $offwhite;
}

.WeightsNested {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
}