.Portfolio {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
}

.PortfolioList {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-gap: 5rem;
}

